*{
    padding: 0;
    margin: 0;

}

body{
    background-color: rgb(224, 12, 51);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    display: grid;
    place-content: center;
}

.cajero{
    background-color: rgb(96, 23, 34);
    display: grid;
    place-content: center;
    gap: 20px;
    padding: 35px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    color: white;
    
    
    
}
.title{
    color: rgb(227, 227, 231);
    text-align: center;
}
.btn2{
    background-color: blue;
    color:white;
    padding: 5px;
    
}
.acciones{
    display: grid;
    text-align: center;
    justify-content: center;
    gap: 10px;

    
}
.acciones input{
    padding:10px;

}

